.search-list {
  width: 100%;
  a {
    color: #0f1010;
  }
  .search-list-item {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: thin solid #cccccc;
    border-top: none;
    &:hover {
      background-color: #e5e5e5;
    }
    // width: 678px;
    // height: 56px;
    p {
      font-size: 13px;
      color: #3a3b3b;
    }
  }
}
